
.gradient { 
    background-image: linear-gradient(to left bottom, #d11818, #eb0043, #fb0072, #fd00a8, #eb12e1);
    height: 100%;
    background-size: cover; 
} 

.paddedheadings { 
    padding-top: 15px; 
    padding-left: 20px; 
    padding-bottom: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.alltext {
    color: white;
}

hr {
    border-width: 5px;
    margin-right: 1em;
}